/* home */
@use "../abstracts/variables" as var;
@use "../base/typography" as type;

body {
  font-family: type.$bodyfont;
  background-color: var.$bg-very-light;
}

h1 {
  color: var.$primary-color;
  text-align: center;
}

h3 {
  font-family: type.$titlefont;
}

.card {
  width: 400px;
  margin-inline: auto;
  &__content {
    text-align: center;
    position: relative;
    z-index: 0;
    padding: 5em;
    transition: transform 3s;
    transform-style: preserve-3d;
    .card__front, .card__back {
      width: 430px;
      height: 600px;
      border: 10px solid rgb(26, 61, 54);
      border-radius: 2rem;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 2em;
      transform-style: preserve-3d;
      backface-visibility: hidden;
    }
    .card__title {
      font-size: 3.8rem;
      line-height: 1.2;
      letter-spacing: -0.1em;
      text-shadow: 3px 3px #ffffff;
      position: relative;
      transform: translateZ(4rem);
      &.upside-down{
        transform: translateZ(4rem) rotateZ(180deg);
      }
    }
  }
}

/* Front */

.card__front {
  background: #bbb;
  .card__front-img {
    transform: translateZ(3rem);
    width: 350px;
    margin-block: auto;
  }
}

.card__title.upside-down {
  transform: rotateZ(180deg);
}


.card__subtitle {
  transform: translateZ(3rem);
}

.card__body {
  transform: translateZ(3rem);
}

.card:hover .card__content {
  transform: rotateY(.5turn);
}

/* Back */

.card__back {
  transform: rotateY(.5turn);
  background: lightblue;
  .card__back-img {
    transform: translateZ(3rem);
    padding: .5rem;
    border: 4px solid red;
    border-radius: 2rem;
  }
}